PORT=4000

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://heault.cognitiveservices.azure.com/
AZURE_DOCUMENT_INTELLIGENCE_KEY=your_azure_document_intelligence_key
AZURE_DOCUMENT_INTELLIGENCE_API_VERSION=2024-11-30

OLLAMA_API_KEY=your_ollama_cloud_api_key
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_MODEL=<cloud_model_name>

MIN_OCR_CONFIDENCE=0.95
STORAGE_PROVIDER=local

MONGODB_URI=
MONGODB_DB_NAME=

OTP_BYPASS=1
OTP_HASH_SALT=change_this_for_non_dev
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=

AZURE_STORAGE_CONNECTION_STRING=your_connection_string
AZURE_STORAGE_CONTAINER=heault-originals